<template>
  <div>
    <slot name="title">
      <h3>{{ title }}</h3>
    </slot>
    <h6>Length: {{ length }}</h6>
  </div>
  <ul class="p-0 w-100">
    <li v-if="items.length === 0">Items empty!</li>
    <template v-else>
      <template v-for="(item) in items" :key="item.id">
        <slot :item="item" :id="item.id % 2 === 0 ? item.id: null"/>
      </template>
    </template>

<!--
if(items.length === 0) log('....')
else {

li


}




-->

  </ul>
</template>

<script>
// import VListItem from "@/components/VListItem";

export default {
  name: "VList",
  // components: {VListItem},
  props: {
    items: {
      type: Array,
      required: true,
      // default: () => []
    },
    title: {
      default: 'Default title'
    },
    firstName: {},
    lastName: {},
  },
  computed: {
    length() {
      return this.items.length
    },
    fullName() {
      return `${this.lastName} ${this.firstName}`
      // return this.lastName + ' ' + this.firstName
    }
  },
  methods: {
    changeItemComplete(param) {
      this.$emit('changeComplete', param)
    }
  }
  // beforeUpdate() {
  //   console.log(5);
  // },
  // updated() {
  //   console.log(6);
  // },
}
</script>

<style scoped>

</style>