<template>
  <li class="d-flex justify-content-between mb-3 py-3" style="border-bottom: 1px solid #000"
      :class="{'active qwf qdq wqwd qwf': item.title.length > 3, red: item.completed && item.id % 2 === 0}">
    <span>{{ item[titleField] }}</span>
    <div>
      <p><b>id</b>{{item.id}}</p>
      <input type="checkbox" @change="change" :checked="item.completed">
    </div>
    <button class="btn btn-danger btn-sm" v-if="item.completed" @click="$emit('remove', item)">Remove</button>
  </li>
</template>

<script>
export default {
  name: "VListItem",
  props: {
    item: {
      type: Object,
      required: true
    },
    titleField: {
      default: 'title'
    }
  },
  methods: {
    change(event) {

      this.$emit('changeComplete', {id: this.item.id, complete: event.target.checked})

      // this.item.completed = event.target.checked

      // console.log(event.target.checked)
      // ddd.addEventListener('input', function (event){})
    }
  }

}
</script>

<style scoped>

</style>