<template>
  <div class="container mt-5">
    <h1>efuo yweufyg wefug weufyg wef</h1>
    <div class="input-block d-flex">
      <div class="flex-grow-1">
        <input type="text" class="w-100 p-3" v-model="todoText" @keydown.enter="addTodo" ref="todoText">
      </div>
      <button class="p-3 btn btn-success ml-3" @click="addTodo">Add</button>
    </div>
    <div class="filter-block"></div>
    <div class="list-block">
      <select v-model="field">
        <option :value="null">Nothing</option>
        <option value="id">id</option>
        <option value="title">title</option>
      </select>

      <v-list @changeComplete="changeItemComplete" :items="completedSort" title="Todos list">
        <template #default="{item}">
          <v-list-item @remove="removeTodo" :item="item" @changeComplete="changeItemComplete"/>
        </template>
      </v-list>

    </div>
  </div>
</template>

<script>
// let VList = require('@/components/VList')
import VList from "@/components/VList";
import VListItem from "@/components/VListItem";
// import VListItem from "@/components/VListItem";

export default {
  name: 'App',
  components: {
    VListItem,
    // VListItem,
    VList
  },
  data: () => ({
    todoText: '',
    todos: [],
    field: 'id'
  }),
  created() {
    this.getTodosFromLocalStorage()
  },
  computed: {

    completedSort() {
      return [...this.alfabetSort].sort(a => a.completed ? 1 : -1)
    },
    alfabetSort() {
      if (!this.field) return this.todos
      return [...this.todos].sort((a, b) => a[this.field] > b[this.field] ? -1 : 1)
    }
  },
  methods: {

    addTodo() {
      const text = this.todoText.trim()

      const count = this.todos.filter(t => t.title === text).length

      if (!text) {
        this.clearTodoText()
        this.todoTextFocus()

        return
      }

      if (count && this.todos.length) {
        this.clearTodoText()
        this.todoTextFocus()

        return
      }

      const todo = {
        id: +(new Date()),
        title: text,
        completed: false
      }

      this.todos.unshift(todo)

      this.clearTodoText()
      this.todoTextFocus()

      this.saveToLocalStorage()
    },
    removeTodo(item) {
      console.time('x')

      this.todos = this.todos.filter(todo => todo.id !== item.id)

      // const index = this.todos.indexOf(item)
      // this.todos.splice(index, 1)
      console.timeEnd('x')
      // let a = [1,2,3,4]
      //
      // let elements = [2,3,4]
      //
      // a = a.filter(i => !elements.includes(i.id))

      // a.spli


    },
    clearTodoText() {
      this.todoText = ''
    },
    todoTextFocus() {
      this.$refs.todoText.focus()
    },
    saveToLocalStorage() {
      localStorage.setItem('todos', JSON.stringify(this.todos))
    },
    getTodosFromLocalStorage() {
      const todos = JSON.parse(localStorage.getItem('todos'))

      if (todos) this.todos = todos
    },
    changeItemComplete({id, complete}) {
      const todo = this.todos.find(todo => todo.id === id)
      todo.completed = complete
      this.saveToLocalStorage()
    }


  },
  // beforeMount() {
  // }

  // beforeCreate() {
  //   console.log(this.$el);
  //   console.log(this)
  // },
  // created() {
  //   console.log(this.$el);
  //   console.log(2);
  // },
  // beforeMount() {
  //   console.log(this.$el);
  //   console.log(3);
  // },
  // mounted() {
  //   console.log(this.$el);
  //   console.log(4);
  // },

  // beforeUnmount() {
  //   console.log(7);
  // },
  // unmounted() {
  //   console.log(8);
  // }

}
</script>

<style>
</style>
